*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
header{
    border: 1px solid #BCAAAA;
    box-shadow: 0px 4px 10.7px 2px #00000040;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
nav ul{
    display: flex;
    gap: 40px;
}
nav ul li{
    display: flex;
    list-style: none;
    gap: 10px;
    color:#BCAAAA;
}
nav ul li:hover{
    color: orangered;
}
.btn{
    padding: 16px 17px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid orangered;
    color: orangered;
    margin-right: -106px;
}
input{
    width: 386px;
    height: 63px;
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 20px 30px;
}
.btn_kok{
    padding: 15px 19px;
    background: #0D0D5B;
    color: white;
    border-radius: 15px;
    border: none;
    margin-left: 10px;
}
.m__yozuv{
    display: flex;
    align-items: center;
    gap: 10px;
}
.m__yozuv i{
    font-size: 20px;
}
.hero .container{
    display: flex;
    padding: 30px 0;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
main{
    background-color: rgb(238, 236, 236);
    padding: 30px 0;
}
.i__yozuv{
    display: flex;
    gap: 15px;
    font-size: 20px;
    color: orangered;
    align-items: center;
}
.card{
    width: 290px;
    height: 290px;
    box-shadow: 0px 4px 13.3px 0px #00000040;
    padding: 44px 52px;
    text-align: center;
    border-radius: 20px;
}
.coins{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin: 10px auto;
}
.coins i{
    color: rgb(255, 204, 0);
}
.coins p{
    color: rgb(77, 77, 77);
}
.playstation__text{
    margin-top: 20px;
    color: rgb(74, 74, 74);
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 10px;
    margin-top: 30px;
}
footer{
    border-bottom: 1px solid #BCAAAA4F;
    box-shadow: 0px 4px 17.9px 0px #00000040;
}
footer .container div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
h4{
    font-size: 20px;
}
a{
    font-size: 20px;
}